.form-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
}

.form-error {
    color: #f00;
}
.dropdown {
    width: 170px;  
}
.actions {
    margin: 0 auto;
}
.title{
    text-align: center;
}
div{
    padding: 10px;
}
.dropdown{
    height: 30px;
}
.submit {
    margin-left: 15px;
}