 
body{
    background-color: #004577
}

 
 
.loginContainer {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
   
  .input {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .inputError {
    border-color: red;
  }
  
  .errorMessage {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    text-align: right;
  }
  
  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .submitButton:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .successMessage {
    margin-top: 20px;
    color: green;
    font-weight: bold;
  }
  
  .errorMessageGlobal {
    margin-top: 20px;
    color: red;
    background: #ffe5e5;
    padding: 10px;
    border: 1px solid #f9b2b2;
    text-align: left;
  }
  